[Desktop Entry]
Name=dcomp
Comment=A pure Vulkan Wayland compositor with minimal desktop environment
Exec=dcomp-session
Type=Application
DesktopSession=dcomp
Keywords=compositor;desktop;wayland
